:root {
  --color-gray: #A0A6A9; /* Un gris más claro */
  --color-secondary: #2E2F3E; /* Un gris oscuro más suave */
  --color-accent: #F9C74F; /* Un amarillo cálido y brillante */
  --color-white: #FFFFFF;
  --color-blue: #1947E5;
  --color-blue-light: #2CC8F9;
  --color-blue-join: #D6FCF7;
  --color-orange: #F95A2C;
  --color-pink: #FF89BB;
  --color-hover: #C0392B; /* Un rojo más profundo */
  --color-back: #FFBD12;
}

.wrapper {
  background-color: var(--color-blue-join);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
}

.header {
  width: 100%;
  padding: 16px 24px;
  position: relative;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: var(--color-secondary);
  text-align: center;
}

.containerName {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra el contenido (título) */
  width: 100%;
  position: relative;
  min-height: 50px; /* para que no se colapse si el ícono se sale del flujo */

}

.iconoVolver {
  position: absolute;
  left: -3rem; /* más predecible en todos los tamaños */
  padding-left: 10px; /* da un poco de espacio sin romper */
  font-size: 3rem;
  color: var(--color-secondary);
  text-decoration: none;
  transition: transform 0.3s ease;
}


.iconoVolver:hover {
  transform: scale(1.1);
}

#deporteSeleccionado {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-secondary);
  text-align: center;
  white-space: nowrap;
  text-transform: capitalize; /* Estilo moderno */
}

.main {
  display: grid;
  gap: 15px;
  padding: 0 15px;
  place-items: center;

}

@media (min-width: 768px) and (max-width: 1023px) {
  .main {
    grid-template-columns: 1fr 1fr; /* 2 columnas */
  }
}

@media (min-width: 1024px) {
  .main {
    grid-template-columns: 1fr 1fr; /* 2 columnas */
  }
}



.columna {
  width: 100%;
}

.deporte h2 {
  font-size: 1.25rem;
  margin: 0;
  color: var(--color-secondary);
  font-weight: 500;
}

.deporte p {
  font-size: 0.875rem;
  color: var(--color-gray);
  margin-top: 5px;
}

.hora p {
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-gray);
  margin: 0;
}

.botonFlecha {
  display: inline-block;
  text-decoration: none;
  color: var(--color-blue);
  font-size: 20px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.botonFlecha:hover {
  transform: scale(1.2);
  color: var(--color-accent); /* El color cambia cuando se pasa el mouse */
}

.imagen img {
  width: 48px;
  height: 48px;
  border-radius: 8px; /* Para un estilo más redondeado y elegante */
}
