:root {
    --color-gray: #969BAB;
    --color-secondary: #18191F;
    --color-accent: #e74c3c;
    --color-white: white;
    --color-blue: #1947E5;
    --color-blue-light: #2CC8F9;
    --color-blue-join: #D6FCF7;
    --color-orange: #F95A2C;
    --color-pink: #FF89BB;
    --color-hover: #a2203d;
    --color-back: #FFBD12;
}

.wrapper {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-pink);
    text-align: center;
    padding: 20px;
}

.header {
    margin-bottom: 2rem;
}

.containerName {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 15px;
    font-size: 3rem;
    font-weight: 600;
}

.iconoVolver {
    font-size: 3rem;
    color: var(--color-secondary);
    cursor: pointer;
    transition: transform 0.2s;
}

.iconoVolver:hover {
    transform: scale(1.1);
}

#deporte-seleccionado {
    font-size: 2.1rem;
    font-weight: 600;
    text-align: center;
    flex-grow: 1;
}

.chatIconContainer img {
    width: 5rem;
    height: 5rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    object-fit: contain; /* 👈 Esto asegura que la imagen se vea completa */
}

.chatIconContainer img:hover {
    transform: scale(1.05);
}

.main {
    margin-top: 20px;
}

.blueTitle {
    color: var(--color-blue);
    margin-bottom: 20px;
}

.redTitle {
    color: var(--color-accent);
    margin-bottom: 20px;
}

.equipoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}