:root {
    --color-gray: #969BAB;
    --color-secondary: #18191F;
    --color-accent: #e74c3c;
    --color-white: #ffffff;
    --color-blue: #1947E5;
    --color-blue-light: #2CC8F9;
    --color-blue-join: #D6FCF7;
    --color-orange: #F95A2C;
    --color-pink: #FF89BB;
    --color-hover: #a2203d;
    --color-back: #FFBD12;
}

.participantsWrapper {
    background-color: var(--color-pink);
    min-height: 100vh;
    padding-bottom: 2rem;
}

.header {
    width: 100%;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 10;
    margin-bottom: 2rem;
}

.containerName {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 1.5rem;
}

.iconoVolver {
    font-size: 3rem;
    color: var(--color-secondary);
    cursor: pointer;
    transition: transform 0.2s;
}

.iconoVolver:hover {
    transform: scale(1.1);
}

.title {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--color-secondary);
    margin: 0 auto;
    text-align: center;
    flex-grow: 1;
}

.chatIconContainer img {
    width: 5rem;
    height: 5rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    object-fit: contain; /* 👈 Esto asegura que la imagen se vea completa */
}

.chatIconContainer img:hover {
    transform: scale(1.05);
}

.participantsMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}


.participantCard {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--color-back);
    border-radius: 15px;
    border: none;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    padding: 1.2rem 1.5rem;
    max-width: 400px;
    width: 100%;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.participantCard:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.2);
}

.participantAvatar {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--color-white);
}

.participantInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



